@page
@model ChangePasswordModel
@{
    Layout = "/Areas/Customer/Views/Shared/_userMainLayout.cshtml";
}
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Cart</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Cart</li>
    </ol>
</div>
<!-- Single Page Header End -->


<div class="container py-5">
    <!-- Page Header -->
    <div class="row justify-content-center">
        <h1 class="text-center">Manage your account</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <br />
            <br />
            <!-- Set the content width to 10 columns for better control -->
            <div class="row">
                <div class="col-md-3">
                    <partial name="_ManageNav" />
                </div>

				<div class="col-md-9">
					<h3>Change Password</h3>
                    <!-- Adjusted to 9 columns for more space -->
                    <form id="change-password-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                            <label asp-for="Input.OldPassword" class="form-label"></label>
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                            <label asp-for="Input.NewPassword" class="form-label"></label>
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
